---
// Media Hero CTA
// ------------
// Description: A hero section with a title, a subtitle, a media grid and a CTA
// Properties:
// - title: The title of the hero section
// - text: The subtitle of the hero section

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import { Swiper, SwiperSlide, SwiperWrapper } from 'astro-swiper'

// Content
// - Props
type Props = {
	title?: string
	text?: string
}
const { title = '', text = '' } = Astro.props
---

<Section classes="lg:py-40!">
	<Row>
		<Col span="6">
			<h1 class="font-bold!">{title}</h1>

			<p class="text-lead max-w-[600px]">{text}</p>
		</Col>

		<Col span="6" classes="self-end">
			<div
				class="grid max-h-[620px] grid-cols-3 grid-rows-3 gap-3 lg:grid-cols-4 lg:grid-rows-4 lg:gap-7.5"
			>
				<!-- Slider 1: Bottom-left card -->
				<div
					class="col-span-1 col-start-1 row-span-1 row-start-1 h-full overflow-hidden rounded-xl bg-white lg:row-start-4 dark:bg-neutral-900"
				>
					<Swiper
						options={{
							slidesPerView: 1,
							loop: true,
							autoplay: {
								delay: 3000,
								disableOnInteraction: false
							},
							speed: 1000,
							effect: 'creative',
							creativeEffect: {
								prev: { translate: ['-100%', 0, 0] },
								next: { translate: ['100%', 0, 0] }
							}
						}}
						class="multi-direction-slider h-full w-full"
					>
						<SwiperWrapper>
							<SwiperSlide class="h-full w-full">
								<img
									src="/assets/images/pexels-marianne-67058-238377.jpg"
									alt="Project 1"
									class="h-full w-full object-cover"
								/>
							</SwiperSlide>
							<SwiperSlide class="h-full w-full">
								<img
									src="/assets/images/pexels-itsterrymag-2988865.jpg"
									alt="Project 2"
									class="h-full w-full object-cover"
								/>
							</SwiperSlide>
						</SwiperWrapper>
					</Swiper>
				</div>

				<!-- Slider 2: Left tall card -->
				<div
					class="col-span-1 col-start-1 row-span-2 row-start-2 h-full overflow-hidden rounded-xl bg-white lg:col-start-2 lg:row-start-3 dark:bg-neutral-900"
				>
					<Swiper
						options={{
							slidesPerView: 1,
							loop: true,
							autoplay: {
								delay: 3500,
								disableOnInteraction: false
							},
							speed: 1000,
							effect: 'creative',
							creativeEffect: {
								prev: { translate: [0, '-100%', 0] },
								next: { translate: [0, '100%', 0] }
							}
						}}
						class="multi-direction-slider h-full w-full"
					>
						<SwiperWrapper>
							<SwiperSlide class="h-full w-full">
								<img
									src="/assets/images/pexels-christa-grover-977018-1909791.jpg"
									alt="Project 3"
									class="h-full w-full object-cover"
								/>
							</SwiperSlide>
							<SwiperSlide class="h-full w-full">
								<img
									src="/assets/images/setting.png"
									alt="Project 4"
									class="h-full w-full object-cover"
								/>
							</SwiperSlide>
						</SwiperWrapper>
					</Swiper>
				</div>

				<!-- Slider 3: Top-right small card (hidden on mobile) -->
				<div
					class="col-span-1 row-span-1 hidden! h-full overflow-hidden rounded-xl bg-white lg:col-start-4 lg:row-start-1 lg:block! dark:bg-neutral-900"
				>
					<Swiper
						options={{
							slidesPerView: 1,
							loop: true,
							autoplay: {
								delay: 4000,
								disableOnInteraction: false
							},
							speed: 1000,
							effect: 'creative',
							creativeEffect: {
								prev: { translate: ['100%', 0, 0] },
								next: { translate: ['-100%', 0, 0] }
							}
						}}
						class="multi-direction-slider h-full w-full"
					>
						<SwiperWrapper>
							<SwiperSlide class="h-full w-full">
								<img
									src="/assets/images/setting.png"
									alt="Project 5"
									class="h-full w-full object-cover"
								/>
							</SwiperSlide>
							<SwiperSlide class="h-full w-full">
								<img
									src="/assets/images/pexels-heyho-11701123.jpg"
									alt="Project 6"
									class="h-full w-full object-cover"
								/>
							</SwiperSlide>
						</SwiperWrapper>
					</Swiper>
				</div>

				<!-- Slider 4: Center large card -->
				<div
					class="col-span-2 col-start-2 row-span-2 row-start-1 h-full overflow-hidden rounded-xl bg-white lg:col-start-3 lg:row-start-2 dark:bg-neutral-900"
				>
					<Swiper
						options={{
							slidesPerView: 1,
							loop: true,
							autoplay: {
								delay: 4500,
								disableOnInteraction: false
							},
							speed: 1000,
							effect: 'creative',
							creativeEffect: {
								prev: { translate: [0, '100%', 0] },
								next: { translate: [0, '-100%', 0] }
							}
						}}
						class="multi-direction-slider h-full w-full"
					>
						<SwiperWrapper>
							<SwiperSlide class="h-full w-full">
								<img
									src="/assets/images/pexels-heyho-11701123.jpg"
									alt="Project 7"
									class="h-full w-full object-cover"
								/>
							</SwiperSlide>
							<SwiperSlide class="h-full w-full">
								<img
									src="/assets/images/pexels-marianne-67058-238377.jpg"
									alt="Project 8"
									class="h-full w-full object-cover"
								/>
							</SwiperSlide>
						</SwiperWrapper>
					</Swiper>
				</div>

				<!-- Slider 5: Bottom-right wide card -->
				<div
					class="col-span-2 col-start-2 row-span-1 row-start-3 h-full overflow-hidden rounded-xl bg-white lg:col-start-3 lg:row-start-4 dark:bg-neutral-900"
				>
					<Swiper
						options={{
							slidesPerView: 1,
							loop: true,
							autoplay: {
								delay: 5000,
								disableOnInteraction: false
							},
							speed: 1000,
							effect: 'creative',
							creativeEffect: {
								prev: { translate: ['-100%', 0, 0] },
								next: { translate: ['100%', 0, 0] }
							}
						}}
						class="multi-direction-slider h-full w-full"
					>
						<SwiperWrapper>
							<SwiperSlide class="h-full w-full">
								<img
									src="/assets/images/pexels-itsterrymag-2988865.jpg"
									alt="Project 9"
									class="h-full w-full object-cover"
								/>
							</SwiperSlide>
							<SwiperSlide class="h-full w-full">
								<img
									src="/assets/images/pexels-christa-grover-977018-1909791.jpg"
									alt="Project 10"
									class="h-full w-full object-cover"
								/>
							</SwiperSlide>

							<SwiperSlide class="h-full w-full">
								<img
									src="/assets/images/destroy-build.jpg"
									alt="Project 6"
									class="h-full w-full object-cover"
								/>
							</SwiperSlide>
						</SwiperWrapper>
					</Swiper>
				</div>
			</div>
		</Col>
	</Row>
</Section>
